@model AmusementPark.Models.Client

<p>Вы находись в личном кабинете пользователя с почтой <b>@Model.Email</b></p>

<p>Список бронирований:</p>
<table class="table table-striped table-hover table-bordered ctable">
    <thead>
        <tr>
            <th>Дата</th>
            <th>На имя</th>
            <th>Номер телефона</th>
            <th>Абонемент</th>
            <th>Взрослых билетов</th>
            <th>Детский билетов</th>
            <th>Подтверждение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>@item.BookingDate</td>
                <td>@item.FullName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Subscription.Name</td>
                <td width="5%">@item.AdultTickets</td>
                <td width="5%">@item.ChildTickets</td>
                <td>
                    <b>@item.Status.DisplayName()</b>
                    @if (item.Status != Status.Rejected)
                    {
                        <br />
                        <a asp-controller="Booking" asp-action="Reject" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Отменить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>