@model IEnumerable<AmusementPark.Models.SubscriptionsList>

@foreach (var item in Model)
{
    <h2>@item.Subscription.Name</h2>
    <div>
        <p class="m-0 p-1"> @item.Subscription.Description</p>
        <p class="m-0 p-1"><b>Количество аттракционов:</b> @item.attractions.Count</p>
        <p class="m-0 p-1"><b>Количество дополнительных услуг:</b> @item.attractions.Count</p>
        <p class="m-0 p-1"><b>Стоимость взрослого билета:</b> @item.Subscription.AdultPrice</p>
        <p class="m-0 p-1"><b>Стоимость детского билета:</b> @item.Subscription.ChildPrice</p>
    </div>
    <p>
        <h4>Аттракционы:</h4>
    </p>
    @foreach (var item1 in item.attractions)
    {
        <div>
            <h5><b>@item1.Name</b></h5>
            <p class="m-0 p-1">@item1.Description</p>
            <p class="m-0 p-1"><b>Максимальное количество мест:</b> @item1.MaxFreeSeat</p>
        </div>
        <br />
    }

    <p>
        <h4>Дополнительные услуги</h4>
    </p>
    @foreach (var item1 in item.services)
    {
        <div>
            <h5><b>@item1.Name</b></h5>
            <p class="m-0 p-1">@item1.Description</p>
        </div>
    }
}